* {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
.button a {
  font-family: "Oswald", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

header.header {
  height: 840px;
  background-size: auto 100%;
}
div.headerContainer {
  margin-bottom: 0;
}
div.headerTitle {
  margin-bottom: 0;
}

.animationImg {
  position: absolute;
  background-size: 100% 100%;
}

.animationOne {
  width: 756px;
  height: 664px;
  right: 38px;
  top: 23px;
  background-image: url("assets/anim-img1.svg");

  animation: ease-in-out;
  animation-name: zoom-in-zoom-out;
  /* animation-iteration-count: 3; */
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-delay: 2s;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.5);
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: translateX(0) scale(1, 1);
  }
  50% {
    transform: translateX(-35px) scale(1.15, 1.15);
  }
  100% {
    transform: translateX(0) scale(1, 1);
  }
}

.animationTwo {
  width: 792px;
  height: 1480px;
  right: 3px;
  top: -5px;
  background-image: url("assets/anim-img2.svg");
  visibility: hidden;
  animation-name: bright-light;
  animation-duration: 11s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

@keyframes bright-light {
  0% {
    visibility: visible;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footerContainer,
.headerContainer,
.info {
  display: flex;
}

h1.mainTitle {
  font-size: 48px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 42px;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  margin-bottom: 50px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.color1 {
  color: #666666;
}

.color2 {
  color: #ffffff;
}

.color3 {
  color: #464547;
}

.logoTitle {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.headerTitle,
h2,
h3,
.button {
  text-align: center;
}

/* header */

.header {
  background-image: url(assets/header-img.png);
  padding: 30px 30px 50px 30px;
  background-size: cover;
  min-width: 100%;
  overflow: hidden;
  background-position: 100% 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px;
}
.navbar .menu {
  display: none;
}

.navList {
  z-index: 1;
}

.navList li {
  display: inline;
  margin-left: 40px;
  text-transform: uppercase;
}

.navList a {
  font-size: 14px;
  color: #ffffff;
}

.navList a:hover {
  border-bottom: 2px solid #ffffff;
}

.headerContainer {
  margin-bottom: 209px;
}

.imgBig {
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

.imgBig:hover {
  animation: rotate-icon 3s cubic-bezier(0.1, 0.01, 0.01, 0.1) 1 both;
}

@keyframes rotate-icon {
  1% {
    transform: rotateY(180deg);
  }
  50% {
    transform: scaleY(1.5);
    transition-delay: 1s;
  }
  100% {
    transform: rotateY(-180deg);
  }
}

/* main */

.sectionOne,
.sectionTwo {
  padding-top: 80px;
  padding-bottom: 80px;
}

.sectionOne .info p {
  width: 50%;
  color: #666666;
  font-weight: 600;
}

.info {
  margin-bottom: 50px;
}

.info p + p {
  padding-left: 40px;
}

.info p {
  padding-right: 40px;
}

.sectionOne {
  background-color: #eeeeee;
}

.sectionOne h3 {
  margin-bottom: 43px;
}

.sectionTwo {
  text-align: center;
  background-image: url(assets/section-img.png);
  background-size: cover;
  min-width: 100%;
  background-position: 100% 100%;
}

.button {
  position: relative;
}

.button a {
  background-color: #55c2d8;
  border-radius: 18px;
  padding: 5px 22px 5px 22px;
  font-size: 16px;
  color: #ffffff;
}

.button:hover {
  transform: rotate(20deg);
  transform-origin: 46%;
}

.videoButton {
  background-color: #69d9ef;
  border: none;
  border-radius: 50%;
  padding: 25px 41px 25px 56px;
  position: relative;
  margin-bottom: 55px;
  color: #ffffff;
  font-size: 74px;
}

.videoButton:hover {
  transform: scale(0.9);
  background-color: white;
  color: #69d9ef;
}

/*footer*/

.footer {
  background-color: #464547;
  padding: 33px 0 70px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.data address,
.data a,
.copyright p {
  font-size: 15px;
  color: #adaaaf;
}

.footerLogo {
  text-align: center;
  display: flex;
  width: 100px;
  margin-bottom: 25px;
}

.data address {
  padding-bottom: 17px;
  font-style: normal;
}

.data a:hover {
  color: #eeeeee;
}

.footer .imgSmall {
  margin-right: 7px;
}

.footer .smallWhiteImg {
  display: none;
}

.copyright {
  padding-top: 56px;
}




/* Responsive design*/

@media (max-width: 768px) {
  .container {
    max-width: 718px;
  }
  /* header */
  .header {
    min-width: auto;
  }
  .navbar .menu {
    display: block;
  }
  .headerContainer {
    margin-bottom: 185px;
  }
  .logoTitle {
    font-size: 17px;
  }
  .navList {
    display: none;
  }
  .one,
  .two,
  .three {
    height: 3px;
    background: #fff;
    margin: 6px 0px 6px 0px;
    width: 33px;
    border: 1px solid #83859c;
    display: block;
  }

  h1.mainTitle {
    font-size: 44px;
  }
  h2 {
    font-size: 45px;
    margin-bottom: 42px;
  }
  h3 {
    font-size: 22px;
  }
  .headerTitle {
    margin-bottom: 200px;
  }

  /* main */
  .sectionOne,
  .sectionTwo {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .button a:hover {
    transform: rotate(20deg);
    transform-origin: left top;
  }
  .sectionOne h3 {
    margin-bottom: 40px;
  }
  .sectionOne .info p {
    width: 100%;
  }
  .info {
    display: block;
  }
  .info p,
  .info p + p {
    padding-left: 0;
    padding-right: 0;
  }
  .info p + p {
    margin-top: 15px;
  }
  .videoButton {
    padding: 20px 36px 20px 51px;
    font-size: 70px;
    margin-bottom: 50px;
  }

  /* footer */
  .footer .container {
    display: block;
  }
  .footer {
    text-align: center;
  }
  .copyright {
    display: none;
  }
  .footer .imgSmall,
  .footer .logo,
  .footer .imgSmall,
  .data {
    width: auto;
  }

  .footerLogo {
    margin-left: auto;
    margin-right: auto;
  }

  .address p {
    text-align: center;
  }
  .smallBlueImg {
    display: none;
  }
  .footer .smallWhiteImg {
    display: inline-block;
  }
}


